
body {
    font-family: sans-serif;
}

.header{
    padding: 5px 5px 5px;
}

.container {
    padding: 2%;
}

.common-form {
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}

.form-input {
    height: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid blueviolet;
    color: blueviolet;
}

.form-button {
    height: 35px;
    border: 1px solid blueviolet;
    cursor: pointer;
}

.message-p{
    color: green;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.carousel-caption{
    background-color: rgb(181, 177, 177);
    border-radius: 5px;
}

.carousel-control-next-icon , .carousel-control-prev-icon{
    background-color: black;
    border-radius: 5px;
}

a , button{
    cursor: pointer;
}